[Unit]
Description=SystemdJournal2Gelf
After=network.target

[Service]
ExecStart=/bin/SystemdJournal2Gelf localhost:12201 --follow
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
